.MuiInputLabel-root {
  color: var(--very-dark-blue) !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.MuiSelect-iconOpen {
  transform: rotate(0deg) !important;
}

.MuiSvgIcon-root {
  font-size: 20px !important;
  color: var(--very-dark-blue) !important;
}

.dropdownContainer {
  border-radius: 0.3rem;
  background: var(--white);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  width: 10rem;
}

.inputLabel {
  color: var(--very-dark-blue) !important;
  font-size: var(--homepage-items) !important;
}

.select {
  box-shadow: var(--box-shadow);
  background: var(--white);
  border-radius: 0.3rem;
}

@media only screen and (max-width: 750px) {
  .dropdownContainer {
    min-width: 15rem;
    margin-top: 2rem;
  }
}
