.countryPage {
  margin: 0 2rem;
}

.goBackButton {
  color: var(--very-dark-blue) !important;
  text-transform: none !important;
  background-color: var(--white) !important;
  box-shadow: var(--box-shadow);
  border-radius: 0.4rem !important;
  padding: 0.5rem 2.5rem 0.5rem 2rem !important;
  font-size: var(--detail-page-items) !important;
}

.coutryPageContainer {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-top: 4rem;
}

.borderButton {
  color: var(--very-dark-blue) !important;
  text-transform: none !important;
  background-color: var(--white) !important;
  box-shadow: var(--box-shadow);
  border-radius: 0.2rem !important;
  padding: 0.3rem 2rem !important;
  margin: 0 0.5rem 0.5rem 0 !important;
}
