body,
html {
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --light: 300;
  --semi-bold: 600;
  --extra-bold: 800;
  --box-shadow: 0px 0px 4px 4px rgba(245, 245, 245, 1);
  --homepage-items: 14px;
  --detail-page-items: 16px;
}

body {
  margin: 0;
  background-color: var(--very-light-gray);
}
